/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* XEICON CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6em;
    background-color: #000;
}
a {
    text-decoration: none;
}

/* Tooltip SNS */
.sns {
    font-size: 25px; 
}
.sns a {
    color: #fff;
    margin: 3px;
    position: relative;
    
}
.sns a:before {
    content: attr(data-text);
    position: absolute;
    /* border: 1px solid #fff; */
    background-color: #777;
    width: 60px;
    height: 1.6em;
    color: #000;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;  
}
.sns a:after {
    content: '';
    background-color: #777;
    width: 4px;
    height: 4px;
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

/* Hover Effect */
.sns a:before,
.sns a:after {
    display: none;
}
.sns a:hover:before,
.sns a:hover:after {
    display: block;
}