/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* Web Fonts : Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
    line-height: 1.6em;
}
/* Toggle trigger Menu */
.toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 11;
}
.toggle i {
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: #000;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Toggle trigger */
.toggle.active i {
    background-color: yellowgreen;
    transform: rotate(315deg);
    transition: 0.5s;
}
/* Overlay - 좌우 오버레이 */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.overlay:before,
.overlay:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #000;
    transition: 0.35s;
}
.overlay:before {
    left: 0;
}
.overlay:after {
    right: 0;
}
.overlay.active:before,
.overlay.active:after {
    width: 50%;
}
/* Common CSS */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .inner {
    width: 1150px;
    text-align: center;
}
section:nth-child(odd)/* 짝수인 경우 even */ {
    background-color: #f8f8f8;
}
.heading h1 {
    font-size: 3em;
    position: relative;
    padding-bottom: 40px;
}
.heading h1:before {
    content: '';
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: crimson;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.heading p {
    font-size: 1.2em;
    line-height: 1.5em;
}
/* Section : Welcome */
section.welcome {
    width: 100%;
    height: 100vh;
}
.welcome img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* object-position: center; */
}
.gnb {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    z-index: 12;
    /* pointer-events: none; */
}
.gnb.active {
    opacity: 1;
    visibility: visible;
    /* pointer-events: all; */
}
.gnb a {
    color: #fff;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    line-height: 1.6em;
    position: relative;
    padding-right: 20px;
}
.gnb a:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 0;
    background-color: yellowgreen;
    left: 0;
    bottom: 7px;
    z-index: -1;
    transition: 0.5s;
}
.gnb a:hover:after {
    width: 100%;
}
