/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a {
    text-decoration: none;
    color: #333;
}

/* Hexagon Image Hover Overlay */

/* Temp CSS : 이미지나 작업 영역이 크면 레이아웃 먼저 작업 */
/* .hexagon .shape img {
    display: none;
} */

/* .hexagon .shape .caption {
    display: none;
} */

.frame {
   display: flex;
   gap: 40px;
}
.hexagon {
    /* border: 1px solid #000; */
    width: 400px;
    height: 450px;
    position: relative;
    transition: 0.5s;
}
/* https://bennettfeely.com/clippy/  */
.shape {
    /* border: 1px solid red; */
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
    /* background-color: red; */
}
.shape img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.hexagon:nth-child(1) .shape img {
    object-position: right;
}
.hexagon .caption {
    position: absolute;
    width: inherit;
    height: inherit;
    color: #fff;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
}
.hexagon:hover .caption {
    opacity: 1;
    transform: translateY(0);
}
.hexagon .caption h2 {
    font-size: 2em;
}
.hexagon:nth-child(1) .caption {
    background: linear-gradient(to top, crimson, transparent)
}
.hexagon:nth-child(2) .caption {
    background: linear-gradient(to top, royalblue, transparent)
}
.hexagon:nth-child(3) .caption {
    background: linear-gradient(to top, green, transparent)
}
.hexagon:hover {
    transform:  translateY(-60px);
}
.hexagon:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #000;
    background: radial-gradient(rgba(0,0,0, 0.3),transparent, transparent);
    bottom: -70px;
    transition: 0.5s;
}
.hexagon:hover:before {
    opacity: 0.6;
    transform: scale(0.8);
    bottom: -130px;
}