/* XEIcon CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: #222;
    color: gainsboro;
    line-height: 1.6em;
}
a {
    text-decoration: none;
    color: gainsboro;
}
/* Accordion Menu */
.faq .inner {
    width: 700px;
    margin: auto;
}
.faq .inner h1 {
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 50px;
}
/* Detail CSS */
.faq-title,
.faq-content {
    background-color: #303030;
    padding: 10px;
}
.faq-title {
    cursor: pointer;
    margin-bottom: 3px;
    position: relative;
    /* position: relative; */
}
.faq-title:hover {
    background-color: #34495e;
}
.faq-title.active {
    background-color: #34495e;
}
.faq-title::before {
    content: '\e9c5';
    font-family: xeicon;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    font-size: 20px;
    transition: 0.5s;
}
.faq-title.active::before {
    transform: rotate(45deg);
}
.faq-content {
    margin-bottom: 5px;
    display: none;
}
.faq-content img {
    width: 100%;
    margin-top: 10px;
}