/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; */
}
.loading {
    /* position: relative; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid red; */
    padding: 0 10px;
    overflow: hidden;
}
.loading span {
    display: inline-block;
    width: 10px;
    height: 10px;
    /* background-color: #000; */
    border-radius: 50%;
    animation: dots 1s linear infinite;
}
.loading span:nth-child(1) {
    background-color: #c70752;
    animation-delay: 0s;
}
.loading span:nth-child(2) {
    background-color: #ed1b24;
    animation-delay: 0.1s;
}
.loading span:nth-child(3) {
    background-color: #ffc324;
    animation-delay: 0.2s;
}
.loading span:nth-child(4) {
    background-color: #4a2e92;
    animation-delay: 0.3s;
}
.loading span:nth-child(5) {
    background-color: #273693;
    animation-delay: 0.4s;
}
/* plain */
.loading .fa {
    transform: rotate(45deg);
    color: #999;
    font-size: 1.4em;
    position: absolute;
    top: 2px;
    /* 비행기가 사라지는 구간
    left: -30%;
    left: 110%; */
    animation: plane 1s linear infinite;
}

/* CSS Keyframe */
@keyframes dots {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
        transform: scale(1.2);
    }
    60% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes plane {
    0% {
        left: -30%;
    }
    100% {
        left: 110%;
    }
}