/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tooltip Basic */
.tooltip {
    /* border: 1px solid #000; */
    position: relative;
}
.tooltip .fa {
    font-size: 50px;
    /* blue 계열 royalblue, dodgerblue, skyblue, deepskyblue */
    color: dodgerblue;
}
.tooltip span {
    position: absolute;
    background-color: #000;
    color: #fff;
    width: 250px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

}
.tooltip span:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

/* Hover Effect */
.tooltip:hover span {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}