/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eeefff;
}

.image1 {
    width: 200px;

    filter: invert(46%) sepia(20%) saturate(1489%) hue-rotate(238deg) brightness(89%) contrast(90%);
}

.image2 {
    
    margin-top: 50px;

    filter: invert(71%) sepia(16%) saturate(4744%) hue-rotate(185deg) brightness(104%) contrast(102%);
}

.image3 {
    margin-top: 20px;
    width: 200px;
    filter: invert(71%) sepia(16%) saturate(4744%) hue-rotate(185deg) brightness(104%) contrast(102%);
}

.image4 {
    margin-top: 20px;
    width: 200px;
    filter: invert(71%) sepia(16%) saturate(4744%) hue-rotate(185deg) brightness(104%) contrast(102%);
}