/* Google Web Font : Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    font-family: 'Montserrat', sans-serif;
}
body {
    font-size: 18px;
    margin: 0;
    line-height: 1.6em;
    color: #222;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;
    color: #fff;
}
a {
    text-decoration: none;
    color: #222;
}
/* h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h4 { font-size: 1em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 } */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

/* JS Sound Controller */
.buttons {
    margin-top: 30px;
}
.buttons button {
    width: 130px;
    border: none;
    height: 50px;
    font-size: 18px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}
.buttons button i {
    padding-left: 5px;
}
.audio-status {
    width: 20px;
    height: 15px;
    position: absolute;
    top: 52%;
    left: 40%;
}
.audio-status span{
    float: left;
    margin-right: 2px;
    width: 2px;
    height: 100%;
    background-color: yellowgreen;
}
.audio-status span:nth-child(1) {
    height:30%;
}
.audio-status span:nth-child(2) {
    height:100%;
}
.audio-status span:nth-child(3) {
    height: 70%;
}
.audio-status span:nth-child(4) {
    height: 40%;
}
.audio-status.active span {
    animation: audio-bar 1s linear infinite;
}
.audio-status.active span:nth-child(1) {
    animation-delay: 0s;
}
.audio-status.active span:nth-child(2) {
    animation-delay: 0.2s;
}
.audio-status.active span:nth-child(3) {
    animation-delay: 0.4s;
}
.audio-status.active span:nth-child(4) {
    animation-delay: 0.6s;
}
@keyframes audio-bar {
    0% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 20%;
    }
}